@import "variables.scss";

.navbar-inverse {
    background-color: $lightColor;
    border: 0;
    border-bottom: 1px solid $highlightColor;
    border-radius: 0 0 4px 4px;
}

/* TODO: remover assim que tivermos um logo */
.navbar-brand {
    color: $highlightColor !important;
    padding: 1.5rem 3rem 1.5rem 2rem;
}

ul.nav li a {
    color: $highlightColor !important;
    font-size: $fontSize;
}

ul.nav li:hover {
    background-color: $secondaryColor;
}

ul.nav li a {
    display: block;
    padding: 1.5rem 3rem 1.5rem 2rem;
}